/* sizing */
@mixin simpleSize($size) {
    @content;
    height: $size;
    width: $size;
}

@mixin size($height, $width) {
    @content;
    height: $height;
    width: $width;
}

/* positioning */
@mixin absoluteCenter {
    @content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* FLEX */
@mixin simpleFlex($direction) {
    @content;
    display: flex;
    flex-direction: $direction;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
@mixin flex($dir, $wrap, $just, $align) {
    @content;
    display: flex;
    flex-direction: $dir;
    flex-wrap: $wrap;
    justify-content: $just;
    align-items: $align;
}