header {
    @include simpleFlex(row);
    justify-content: space-between;
    & .logo-container {
        padding-right: 15px;
        @include simpleFlex(row);
        transition: background .3s;
            &:hover {
                background: rgba(0, 0, 0, 0.05);
            }
            & img {
                width: 55px;
            }
            & h1 {
                font-weight: 100;
            }
    }


    & .utility-container {
        padding: 5px 15px;
        @include simpleFlex(row);
        position: relative;
        cursor: pointer;
            & i {
                font-size: 1.9em;
                color: rgba(0, 0, 0, 0.5);
                transition: color .3s;
                cursor: poiner;
                    &:hover {
                        color: var(--slate);
                        animation: wobble 1s linear forwards;
                    }
            }

            & .alert {
                @include simpleSize(15px);
                background-image: linear-gradient(  var(--alert-red) 30%, var(--alert-orange) 70%);
                border-radius: 50%;
                position: absolute;
                top: 5px;
                left: 37px;
            }

            & .user-container {
                border-left: 1px solid rgb(127, 137, 145);
                height: 50%;
                margin-left: 20px;
                    & img {
                        width: 40px;
                        margin: 0 10px;
                    }
            }
    }
}



.notification-panel {
    @include size(0%, 100%);
    background: white;
    position: absolute;
    z-index: 100;
    top: 65px;
    transition: .5s;
    opacity: 0;
    padding: 15px;
    pointer-events: none;
        & h2 {
            text-align:center;
        }
        & .notification-items {
            @include flex(column, nowrap, flex-start, flex-start);
            margin: 20px auto 5px;
                & .item {
                    position: relative;
                    padding: 10px;
                    width: 100%;
                    border-radius: 5px;
                    transition: .3s;
                    cursor: pointer;
                    border: 1px solid var(--light2);
                    margin: 2px auto;
                        & i {
                            position: absolute;
                            top: 5px;
                            right: 5px;
                            padding: 5px;
                            color: rgb(116, 135, 151);
                        }
                        & p {
                            color: rgb(80, 91, 107);
                        }
                        &:hover {
                            background: var(--current-theme);
                        }
                }
        }
}


.show-notifications {
    height: auto;
    opacity: 1;
    box-shadow: 0 0 10px rgba(78, 94, 104, 0.623);
    border-radius: 5px;
    pointer-events: auto;
}



@media (min-width: $md) {
    .notification-panel {
        width: 400px;
        right: 150px;
        height: auto;
        
    }
    
}


@media (min-width: $l) {
    header {
        border-bottom: 2px solid rgb(255, 255, 255);
    }
    .notification-panel {
        top: 55px;
    }
    
}


@media (min-width: $xxl) {
    .notification-panel {
        top: 100px;
        right: 235px;
    }
}

