.members {
    margin-top: 10px;
    
    @include flex(column, nowrap, flex-start, center);
        & .members-content {
            font-size: .8em;
            @include size(auto, 100%);
                & h2 {
                    text-align: center;
                    background: var(--light-shade);
                    padding: 10px;
                    font-weight: 300;
                }
        }
    & .member-card {
        @include flex(row, nowrap, flex-start, center);
        padding: 10px 15px;
        transition: .2s;
        cursor: pointer;
        border-radius: 5px;
            &:hover {
                background: var(--light-shade);
            }
            &:hover a {
                margin-left: 10px;
                color: black;
            }
            & img {
                width: 45px;
                margin-right: 10px;
            }
            & .card-info {

            }
            & .card-date {
                margin-left: auto;
                font-weight: 300;
                display: none;
            }
            & .activity-time {
                display: none;
                font-weight: 300;
                font-size: .8em;
            }
    }
}


.messaging {
    position: relative;
        & .users {
            @include absoluteCenter;
            top: 100px;
            @include size(100px,  85%);
            background: white;
            border: 2px solid var(--light2);
            border-radius: 3px;
            overflow: auto;
            transition: .3s;
            height: 0;
            opacity: 0;
                & ul {
                        & li {
                            padding: 10px;
                            font-size: 1.1em;
                            transition: .3s;
                            cursor: pointer;
                                &:hover {
                                    background: var(--light2);
                                }
                        }
                }
        }
}







@media (min-width: $md) {
    .members .members-content {
        font-size: 1em;
        & .card-date, & .activity-time {
            display: block;
        }
    }
    
}

@media (min-width: $l) {
    .members {
        flex-direction: row;
            & .members-content {
                margin: auto 1px;
                @include size(auto, 50%);
                    
            }
    }
}